body {
  --black: #000;
  --light-black: #121212;
  --light-gray: #8b8b8b;
  --gray: #383838;
  --white: #fff;
  --gray-body-text: #b2b2b2;
  --light-black-mobile: #121312;
  --gray-mobile: #232323;
  --green: #1DB954;
  --orange: rgba(231, 174, 15, 0.4);
  --pink: rgba(226, 17, 114, 0.2);
  background: rgb(51,51,51);
  background: linear-gradient(180deg, rgba(51,51,51,1) 0%, rgba(18,18,18,1) 50%);
  color: var(--gray-body-text);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  height: 100vh;
  margin: 0px;
}

@media only screen and (max-width: 576px) {
  body {
    background: var(--light-black-mobile);
  }
}

.row .col {
  padding: 0px;
}

.col {
  flex-basis: unset;
}

.body-header {
  margin-bottom: 50px;
  padding: 20px;
}

#body-header-mobile {
  padding: 20px 10px;
}

#cover-wrapper {
  position: relative;
  height: 30vh;
  width: 30vh;
  margin-right: 20px;
}

#cover-wrapper img {
  height: inherit;
  width: inherit;
  display: block;
  margin: auto;
  object-fit: cover;
}

#blurred {
  filter: blur(100px);
  position: absolute;
  top: 0;
  z-index: -1;
  visibility: hidden;
}

@media only screen and (max-width: 576px) {
  #cover-wrapper {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  #blurred {
    visibility: unset;
  }
}


.side-nav-custom {
  background-color: var(--black);
  box-shadow: #101010 2px 2px 5px;
  color: var(--gray-body-text);
  display: grid;
  grid-template-rows: 80px 20px 1fr 50px;
  height: 100vh;
  min-height: 100vh;
}

#slide-out {
  background-color: var(--black);
  color: var(--gray-body-text);
  padding-left: 20px;
}

nav {
  background: none;
}

h1, h3, h4 {
  color: var(--white);
  font-weight: 800;
  margin: 0px;
}

h4 {
  color: var(--gray-body-text);
  margin-top: 10px;
}

h2 {
  font-weight: 600;
  margin: 0px;
  padding-top: 10px;
}

h6 {
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 2px;
}

p {
  line-height: normal;
  margin: 0px;
  width: fit-content;
}

a {
  color: var(--gray-body-text);
}

a:hover {
  color: var(--gray-body-text);
  text-decoration: none;
}

.page {
  min-height: 90vh;
  padding: 15px;
}

.btn, .btn-large{
  background-color: var(--green)!important;
  border-radius: 100px;
  color: var(--white);
  margin: auto;
}

#playlists-title {
  padding-left: 20px;
}

.divider {
  background-color: var(--light-black);
}

.collection {
  border: none;
  border-radius: 0px;
  overflow: hidden; 
  overflow-y: scroll;
}

.collection::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 100px;
}

.collection::-webkit-scrollbar {
  background: none;
  width: 10px;
}

.collection *.collection-item {
  background: var(--black);
  border: none;
  color: var(--light-gray);
}

.collection .collection-item.active {
  background: var(--light-black);
  border-left: 5px solid var(--green);
  padding-left: 15px;
}

.collection .collection-item.active:hover {
  background: var(--light-black);
}

.collection .collection-item:hover {
  background: var(--black);
  color: var(--white);
}

#profile-pic {
  border-radius: 300px;
  height: 30px;
  margin-right: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

#profile-info {
  right: 10px;
  top: 5px;
  position: absolute;
  border-radius: 75px;
  background: var(--gray);
  padding: 5px 15px;
}

@media only screen and (max-width: 576px) {
  #profile-info {
    /* background: none; */
    border-radius: 100px;
    padding: 5px;
    right: 10px;
    top: 20px;
  }

  #profile-pic {
    height: 40px;
    margin: 0px;
  }
}

#profile-info p {
  margin: 0px;
}

#login {
  height: 100vh;
}

#logo {
  padding: 20px;
  height: 80px;
}

.playlist-item {
  padding: 10px;
}

.playlist-item img {
  width: 60px;
}

.playlist-item .flex-col {
  padding-left: 10px;
}

.playlist-item h6 {
  color: var(--white);
}

.playlist-item p {
  color: var(--light-gray);
}

@media only screen and (max-width: 576px) {
  #logo {
    padding: 0px;
    height: 40px;
    width: unset;
    margin-left: -5px;
    margin-top: 15px;
  }
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-menu {
  background: var(--gray);
  /* display: block; */
  top: 5px!important;
  z-index: 9999;
}

.dropdown-item {
  color: var(--gray-body-text);
  text-align: center;
}

.dropdown-item:hover {
  background: var(--gray);
  color: var(--white);
}

.material-icons {
  line-height: unset;
}

#side-footer {
  height: 50px;
  color: var(--gray-dark);
  justify-content: space-between;
  padding: 20px;
}

#side-footer a {
  color: var(--gray-dark);
}

#side-footer a:hover {
  color: var(--gray-body-text);
}

#tabs {
  height: 10vh;
  width: 100%;
  background-color: var(--gray-mobile);
  position: sticky;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.tab-btn {
  font-weight: 400;
  text-align: center;
}

.pulse {
  transform-origin: left top;
  animation: pulse 3s infinite;
  -webkit-animation: pulse 3s infinite;
  width: 70%;
}

@keyframes pulse {
	0% {
    transform: scale(1);
    color: var(--green);
    text-shadow: -4px -4px 0 var(--orange), -8px -8px 0 var(--pink);
	}

	70% {
    transform: scale(0.95);
    color: var(--green);
    text-shadow: none;
	}

	100% {
    transform: scale(1);
    color: var(--green);
    text-shadow: -4px -4px 0 var(--orange), -8px -8px 0 var(--pink);
  }
}

.pulse-btn {
  animation: pulse 3s infinite;
  -webkit-animation: pulse-btn 3s infinite;
}

@keyframes pulse-btn {
	0% {
    transform: scale(1);
    box-shadow: 0px -6px 0 var(--orange), 0px -12px 0 var(--pink);
	}

	70% {
    transform: scale(0.95);
    box-shadow: none;
	}

	100% {
    transform: scale(1);
    box-shadow: 0px -6px 0 var(--orange), 0px -12px 0 var(--pink);
  }
}
