body {
  --black: #000;
  --light-black: #121212;
  --light-gray: #8b8b8b;
  --gray: #404040;
  --white: #fff;
  --gray-body-text: #b2b2b2;
  --green: #1DB954;
  --orange: rgba(231, 174, 15, 0.4);
  --pink: rgba(226, 17, 114, 0.2);
  background: rgb(51,51,51);
  background: linear-gradient(180deg, rgba(51,51,51,1) 0%, rgba(18,18,18,1) 50%);
  color: var(--gray-body-text);
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: 0px;
}

.row .col {
  padding: 0px;
}

.col {
  flex-basis: unset;
}

.body-header {
  margin-bottom: 50px;
  padding: 20px;
}

.side-nav {
  background-color: var(--black);
  box-shadow: #101010 2px 2px 5px;
  color: var(--gray-body-text);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20vw;
}

h1 {
  color: var(--white);
  font-weight: 900;
  margin: 0px;
}

h2 {
  font-weight: 600;
  margin: 0px;
  padding-top: 10px;
}

p {
  line-height: normal;
}

.btn, .btn-large{
  background-color: var(--green)!important;
  border-radius: 100px;
  color: var(--white);
}

#playlists-title {
  padding-left: 20px;
}

.divider {
  background-color: var(--light-black);
}

.collection {
  border: none;
  border-radius: 0px;
  height: 80vh;
  overflow: hidden; 
  overflow-y: scroll;
}

.collection::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 100px;
}

.collection::-webkit-scrollbar {
  background: none;
  width: 10px;
}

.collection *.collection-item {
  background: var(--black);
  border: none;
  color: var(--light-gray);
}

.collection .collection-item.active {
  background: var(--light-black);
  border-left: 5px solid var(--green);
  padding-left: 15px;
}

.collection .collection-item.active:hover {
  background: var(--light-black);
}

.collection .collection-item:hover {
  background: var(--black);
  color: var(--white);
}

#profile-pic {
  border-radius: 300px;
  height: 30px;
  margin-right: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

#profile-info {
  right: 10px;
  top: 5px;
  position: absolute;
  border-radius: 75px;
  background: var(--gray);
  padding: 5px 15px;
}

#profile-info p {
  margin: 0px;
}

#login {
  height: 100vh;
}

#login a {
  margin: auto;
}

#logo {
  padding: 20px;
  width: 200px;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-menu {
  background: var(--gray);
  top: 5px!important;
}

.dropdown-item {
  color: var(--gray-body-text);
  text-align: center;
}

.dropdown-item:hover {
  background: var(--gray);
  color: var(--white);
}

.material-icons {
  line-height: unset;
}

.pulse {
  transform-origin: left top;
  animation: pulse 3s infinite;
  -webkit-animation: pulse 3s infinite;
  width: fit-content;
}

@keyframes pulse {
	0% {
    transform: scale(1);
    color: var(--green);
    text-shadow: -4px -4px 0 var(--orange), -8px -8px 0 var(--pink);
	}

	70% {
    transform: scale(0.95);
    color: var(--green);
    text-shadow: none;
	}

	100% {
    transform: scale(1);
    color: var(--green);
    text-shadow: -4px -4px 0 var(--orange), -8px -8px 0 var(--pink);
  }
}

.pulse-btn {
  animation: pulse 3s infinite;
  -webkit-animation: pulse-btn 3s infinite;
}

@keyframes pulse-btn {
	0% {
    transform: scale(1);
    box-shadow: 0px -6px 0 var(--orange), 0px -12px 0 var(--pink);
	}

	70% {
    transform: scale(0.95);
    box-shadow: none;
	}

	100% {
    transform: scale(1);
    box-shadow: 0px -6px 0 var(--orange), 0px -12px 0 var(--pink);
  }
}
